@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model PBL_ThermoMotorIOT_Cad.Models.EmpresaViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Cadastro de Empresa</h2>
<form action="Salvar" method="post">
    <label for="IdEmpresa" class="control-label">Id da Empresa</label>
    <input type="text" Name="IdEmpresa" value="@Model.IdEmpresa" readonly />
    <br />
    <label for="NomeEmpresa" class="control-label">Nome da Empresa</label>
    <input type="text" Name="NomeEmpresa" value="@Model.NomeEmpresa" required />
    <br />
    <label for="CNPJ" class="control-label">CNPJ</label>
    <input type="text" Name="CNPJ" value="@Model.CNPJ" required/>
    <br />
    <label for="Endereco" class="control-label">Endereço</label>
    <input type="text" Name="Endereco" value="@Model.Endereco" required />
    <br />
    <label for="Telefone" class="control-label">Telefone</label>
    <input type="text" Name="Telefone" value="@Model.Telefone" />
    <br />
    <label for="Email" class="control-label">Email</label>
    <input type="text" Name="Email" value="@Model.Email" />
    <br />
    <input type="submit" value="Salvar dados" />
    <br />
</form>